.custom-select {
    position: relative;
    max-width: 249px;
    padding-left: 12px;
    cursor: pointer;
    background-color: white;
}

.selected-value {
    display: flex; 
    align-items: center;
    width: 249px;
    height: 36px;
    border: none; 
    appearance: none;
    box-shadow: none;
    font-family: SamsungOne;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 10.5L12.1292 0.75H0.870835L6.5 10.5Z' fill='%238D8D8D'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 27px center;
}

.options-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;  
    overflow-y: auto; 
    z-index: 1000; 
    list-style-type: none;
    padding-left: 0;
    margin-top: 6px;
}

.option {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 17px;
    font-family: 'SamsungOne', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    cursor: pointer;
}

.option:first-child {
    font-size: 14px;
}
.options-list li:hover {
    background-color: rgba(243, 243, 243, 1); /* Hover background */
}